* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    padding-top: 3%;
}

.modal-contenedor {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    visibility: hidden;
}

.modal-active {
    opacity: 1;
    visibility: visible;
}

.modal-carrito {
    min-width: 25rem;
    padding: 1rem;
    margin-top: -100%;
    transition: all .5s;
}

.modal-active .modal-carrito {
    margin-top: 0;
}

.modal-carrito #carritoCerrar {
    top: 1rem;
    right: 1rem;
}

.productoEnCarrito {
    border-left: 0.3rem solid #df4759;
    margin: 0.5rem;
    padding: 0.5rem;
    display: flex;
}

.lineHei{
    line-height: 1.5;
}
